/*FUNDO ANIMADO*/


/*APLICA O ESTILO INTEIRO NA PÁGINA*/
body {
  min-height: 100vh; /*Garante que o fundo ocupe o espaço inteiro da tela*/
  background: linear-gradient( /*Cria um gradiente com várias cores(efeito desejado : galáxia*/
    120deg, /*120deg = diagonal do gradiente*/
    /*CORES DEFINIDAS*/
    hsl(258, 86%, 34%),
    #7209b7,
    #b5179e,
    #560bad
  );
  background-size: 400% 400%; /*Faz o fundo ser maior do que a tela OBS: ESSENCIAL PARA A ANIMAÇÃO FUNCIONAR*/
  animation: galaxy 15s ease infinite; /*Aplicando uma animação; 15 segundos de duração; ease = movimento suave; infinite = nunca para.*/
}


/*DEFININDO COMO O FUNDO VAI SE MOVER*/
@keyframes galaxy {
  0% { 
    background-position: 0% 50%;  
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


body {
    margin: 0;
    padding: 0;
    font: normal 10pt Arial;
    color: rgb(255, 255, 255);
}

header {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}

section {
    margin: auto;
    padding: 20px;
    width: 400px;
    min-height: 170px;
    height: auto;
    text-align: center;
    background-color: #7209b7;
    border-radius: 10px;
    box-shadow: 15px 8px 35px hsla(0, 0%, 100%, 0.267);
}

input {
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    color: rgb(37, 1, 37)
}

.resultado {
  margin: 10px 40px auto 40px ;
  background-color: #b5179e;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;

}