body {
    background-color: #a0e4d8;
    font: normal 10pt Arial;
}

header {
    text-align: center;
}

section {
    background-color:white;
    margin: auto;
    width: 300px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

footer {
    text-align: center;
}

#manChoose {
    padding: 50px;;
}