body {
    background-color: rgb(140, 142, 143);
    font: normal 10pt Arial;
}

header {
    text-align: center;
}

section {
    text-align: center;
    background-color: white;
    margin: auto;
    width: 400px;
    border-radius: 5%;
    box-shadow: 10px 10px 20px rgb(112, 111, 111);
    padding-bottom: 10px;
    
}

#imageTime {
   width: 150px;
   height: 150px;
   overflow: hidden; /*Evitar a imagem de vazar*/
   border-radius: 50%;
   margin: 10px auto;
}

#imageTime img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*mantém proporção e corta o excesso*/
    display: block;
}

footer {
    text-align: center;

}





/* AVATAR/FOTO DE PERFIL --> "border-radius: 50%"
IMAGEM VAZANDO --> "overflow: hidden"
IMAGEM ESTRANHA --> "object-fit: cover"


/*PORQUE UTILIZAAR DOIS "imageTime" (div + img)?

Resp: São dois elementos totalmente diferentes

<div id="imageTime">   ← CONTÊINER
  <img src="...">      ← IMAGEM
</div>


-A div (imageTime)
Ela é o molde:
 Define tamanho;
 Define o formato;
 Corta o excesso;
 Pode ter borda, sombra, background.

A img
É o conteúdo
 Carrega a imagem
 Se adapta ao molde
 Mantém proporção


 Regra do CSS
 Elemento externo controla forma e layout
 Elemento interno controla conteúdo
 